<head>
    <link rel="stylesheet" href="https://bootswatch.com/5/journal/bootstrap.css">
    <link rel="stylesheet" href="https://bootswatch.com/_assets/css/custom.min.css">
  </head>
  
  <nav class="navbar navbar-expand-lg navbar-light bg-light" style="position: absolute; top: 0px; width: 100%; border-color: black; border-radius: 5px;">
      <div class="container-fluid">
          <a class="navbar-brand" >Proyecto 1</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
      
          <div class="collapse navbar-collapse" id="navbarColor03" style="border-radius: 5px; border-color: black;">
            <ul class="navbar-nav me-auto">
              <li class="nav-item">
                <a class="nav-link" href="/principal">Procesos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/info-ram">Monitor RAM</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/info-cpu">Monitor CPU</a>
              </li>
             
            </ul>
            
          </div>
        </div>
  </nav>




<router-outlet></router-outlet>