<head>
    <link rel="stylesheet" href="https://bootswatch.com/5/slate/bootstrap.css">
    <link rel="stylesheet" href="https://bootswatch.com/_assets/css/custom.min.css">
  </head>
  
  <nav class="navbar navbar-expand-lg navbar-light bg-light" style="position: absolute; margin: auto; top: 0px; width: 100%;">
      <div class="container-fluid">
          <a class="navbar-brand" href="/principal">Procesos</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
      
          <div class="collapse navbar-collapse" id="navbarColor03">
            <ul class="navbar-nav me-auto">
              <li class="nav-item">
                <a class="nav-link" href="/info-ram">Monitor RAM</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/info-cpu">Monitor CPU</a>
              </li>
             
            </ul>
            <a class="nav-link" href="/login" style="color: #3a3f44;">Logout</a>
          </div>
        </div>
  </nav>




<router-outlet></router-outlet>