@import '~bootstrap/dist/css/bootstrap.min.css';
.tabla{
    position: absolute;
    top: 40px;
}

.grafica{
    position: absolute;
    top: 250px;
    left: 100px;
    width: 1100px;
    height: 800px;
}